.view-wrapper a {
  height:20px;
}

.report-wrapper > div {
  padding:7px 0 7px 35px;
  display:block;
  height:20px;
}

.report-title {
  font-size: x-large;
  font-weight: bold;
}

.group-header {
  font-weight: bold;
  margin-top: 36px;
}

.row {
  margin-top: 24px;
  margin-bottom: 8px;
}

.user {
  margin-top: 8px;
  margin-left: 20px;
}